input {
  width: 20%;
}

.form-control {
  width: 20%;
}

label {
  float: left;
}

#answer {
  background-image: url("../img/triangle.gif");
  background-repeat: no-repeat;
  height: 500px;
  color: white;
  
}
